<div>
    <button mat-button routerLink="/rxjs/main" color="accent">BACK</button>
</div>
<strong>every</strong>
<div>
    <p>
        Returns an Observable that emits whether or not every item of the source satisfies the condition specified.
        It will returns boolean value, It will return true only true when all source observable satisfies the condition specified, Otherwise gives false.
    </p>
    <a href="https://rxjs-dev.firebaseapp.com/api/operators/every">every</a>
    <!-- <ng-container *ngFor="let detail of everyFilterDetails; let i = index"> -->
        <div>{{ everyFilterDetails }} <br /></div>
    <!-- </ng-container> -->
</div>