<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Ng-content Example </mat-panel-title>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ol>
      <li>
        <mat-form-field>
          <mat-label>What's your name?</mat-label>
          <input matInput [(ngModel)]="name" />
        </mat-form-field>
      </li>
      <li>
        <button mat-raised-button (click)="openDialog()">Pick one</button>
      </li>
      <li *ngIf="animal">
        You chose: <i>{{ animal }}</i>
      </li>
    </ol>
  </mat-expansion-panel>
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Chips </mat-panel-title>
      <mat-panel-description> Dragable chips </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-chip-list
      class="example-chip"
      cdkDropList
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="drop($event)"
    >
      <ng-template ngFor let-vegetable [ngForOf]="vegetables">
        <mat-chip color="primary" class="example-box" cdkDrag selected>
          {{ vegetable.name }}
        </mat-chip>
      </ng-template>
    </mat-chip-list>
  </mat-expansion-panel>
</mat-accordion>
