.mat-sidenav {
  width: 250px;
  background-color: #798688;
}

.mat-sidenav-container {
  height: 100%;
}

.mat-sidenav-content {
  padding: 10px;
}

// .mat-sidenav {
//   padding: 2px;
// }

.padding {
  padding: 20px;
}

.button {
  color: white;
}

.button-padding {
  padding-left: 155px;
}
