// .mat-form-field {
//   font-size: 14px;
//   width: 50%;
// }

// mat-table {
//   width: 100% !important;
// }

// mat-header-cell {
//   background-color: cornflowerblue !important;
//   color: white !important;
// }

// .mat-form-field {
//   font-size: 14px;
//   width: 100%;
// }

/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 80%;
}

.mat-table {
  overflow: auto;
  max-height: 750px;
}

.mat-header-cell {
  background-color: cornflowerblue !important;
  color: white !important;
}

.button-style {
  color: #069204 !important;
}
