.mat-form-field {
    font-size: 14px;
    width: 80%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 750px;
  }
  
  .mat-header-cell {
    background-color: cornflowerblue !important;
    color: white !important;
  }
  